<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_online_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".personal.PasswordActivity"/>
        <activity android:name=".personal.MailActivity"
            android:parentActivityName=".PersonalActivity"/>
        <activity android:name=".personal.PhoneActivity"
            android:parentActivityName=".PersonalActivity"/>
        <activity android:name=".personal.NameActivity"
            android:parentActivityName=".PersonalActivity"/>
        <activity android:name=".PersonalActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity
            android:name=".HisOrderActivity"
            android:label="@string/title_activity_his_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KindActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CartActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PayActivity"
            android:parentActivityName=".CartActivity" />
        <activity android:name=".ChatActivity"/>
        <activity android:name=".ListChatRoomActivity"/>
    </application>

</manifest>